

	<page-title ng-if="layoutOptions.pageTitles" title="Informaci&oacute;n de Profesional" description="Desde aqu&iacute; puedes editar tu informaci&oacute;n personal"></page-title>


<section class="profile-env">
	
    <div class="row" ng-app="bioweb" ng-controller="UserProfileCtrl">

        <div class="col-sm-3">

            <!-- User Info Sidebar -->
            <div class="user-info-sidebar">

                <a href="" class="user-img">
                    <img src="{{ ProfileImageUrl }}" alt="user-img" class="img-cirlce img-responsive img-thumbnail" />
                </a>


                <div id="file-container" style="display:none;">
                    <input name="files" id="files" type="file" value="Hacer cosas" accept=".jpg,.png,.gif" />
                </div>
                <a href="" class="user-name" id="lnkCambiarImagen">Cambiar Imagen</a>
                
                <hr />
            </div>

        </div>

        <div class="col-sm-9">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Informaci&oacute;n de Profesional &nbsp;&nbsp;<a href="#" id="lnkEditar">(Editar)</a></h3>
                </div>
                <div class="panel-body">

                    <form role="form" class="form-horizontal validate" role="form" method="POST">

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="LastName">Apellido</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="LastName" name="LastName" disabled ng-model="LastName" data-validate="required">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="FirstName">Nombre</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="FirstName" name="FirstName" disabled ng-model="FirstName" data-validate="required">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="Address">Direcci&oacute;n</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Address" name="Address" disabled ng-model="Address" data-validate="required">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="Province">Provincia</label>

                            <div class="col-sm-10">
                                <select class="form-control" id="Province" name="Province" disabled ng-model="ProvinceId" data-validate="required">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                    <option>Option 5</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="City">Ciudad</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="City" name="City" disabled ng-model="City" data-validate="required">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="Phone">Tel&eacute;fono</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Phone" name="Phone" disabled ng-model="Phone" data-validate="required">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="CUIT">CUIT</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="CUIT" name="CUIT" inputmask data-mask="99-99999999-9" disabled ng-model="CUIT" data-validate="required">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="DNI">DNI</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="DNI" name="DNI" disabled ng-model="DNI" data-validate="required">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="MN">Nro. Matr&iacute;cula</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="MN" name="MN" disabled ng-model="MN" data-validate="required">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group" style="display: none;" id="buttons-pane">
                            <button type="submit" class="btn btn-success pull-right" id="btnSubmit" style="margin-right: 15px;">Guardar Cambios</button>
                            <button type="reset" class="btn btn-white pull-right" style="margin-right: 5px;" id="btnCancelar">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

    <!--CROPPER-->
    <div id="window" style="display: none;">
        <strong class="text-primary">Recortar Imagen</strong>
        <br />
        <br />

        <div class="img-container">
            
        </div>

        <br />
        <br />

        <a id="crop-img" href="#" class="btn btn-secondary">Aceptar</a>
    </div>
	
</section>

<script>
    $(function () {
        $('#lnkEditar').click(function() {
            $('.panel-body form input[type=text], .panel-body form select').removeAttr('disabled');
            $('#LastName').focus();

            $(this).hide();
            $('#buttons-pane').show();
            return false;
        });

        $('#btnCancelar').click(function () {
            $('.panel-body form input[type=text], .panel-body form select').attr('disabled', 'disabled');
            
            $('#lnkEditar').hide();
            $('#buttons-pane').hide();
            return false;
        });

        $('#lnkCambiarImagen').click(function () {
            $("#files").click();
        });


        $("#files").kendoUpload({
            async: {
                saveUrl: "/Professionals/Image/Save",
                //removeUrl: "remove",
                autoUpload: true
            },
            localization: {
                select: "Seleccionar desde PC",
                headerStatusUploaded: "Finalizado",
                headerStatusUploading: "Cargando.."
            },
            multiple: false,
            showFileList: false,
            success: function (e) {
                $('.img-container').empty();
                var img = $('<img class="img-responsive">');
                $(img).bind('load', imageLoad)
                $(img).attr('src', '/Temp/' + appHelper.getCurrentId() + e.files[0].extension)
                $('.img-container').append(img);
            }
        });

        var imageLoad = function () {
            window.data("kendoWindow").open().center();
            var preview_size = [220, 220],
                aspect_ratio = preview_size[0] / preview_size[1],
                selection = {
                    x: null,
                    y: null,
                    w: null,
                    h: null
                },
                $image = $(".img-container img");

            // Plugin Initialization
            $image.cropper({
                aspectRatio: aspect_ratio,
                minCropBoxWidth: 220,
                done: function (data) {
                    selection.x = data.x;
                    selection.y = data.y;
                    selection.w = data.width;
                    selection.h = data.height;
                }
            });
        }

        var window = $("#window"),
                        undo = $("#undo")
                                .bind("click", function () {
                                    window.data("kendoWindow").open().center();
                                });

        var onClose = function () {

        }

        if (!window.data("kendoWindow")) {
            window.kendoWindow({
                width: "400px",
                title: "Cambiar imagen de perfil",
                actions: [
                   "Close"
                ],
                close: onClose
            });
        }

    });
</script>