@using ProPaymentSummary.Web.Helpers
@model ProPaymentSummary.Service.Dto.ProfessionalDto

<page-title ng-if="layoutOptions.pageTitles" title="Informaci&oacute;n de Profesional" description="Desde aqu&iacute; puedes editar tu informaci&oacute;n personal"></page-title>

<link href="/areas/professionals/assets/css/fonts/elusive/css/elusive.css" type="text/css">
<link href="/areas/professionals/assets/js/cropper/cropper.min.css" type="text/css">

<script src="/areas/professionals/assets/js/cropper/cropper.min.js"></script>
<script src="/areas/professionals/assets/js/inputmask/jquery.inputmask.bundle.js"></script>
<script src="/areas/professionals/assets/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/areas/professionals/assets/js/jquery-validate/localization/messages_es_AR.js"></script>


<section class="profile-env">

    <div class="row" ng-app="bioweb" ng-controller="UserProfileCtrl">

        <div class="col-sm-3">

            <!-- User Info Sidebar -->
            <div class="user-info-sidebar">

                <a href="" class="user-img">
                    <img src="{{ ProfileImageUrl }}" alt="user-img" class="img-cirlce img-responsive img-thumbnail" />
                </a>


                <div id="file-container" style="display:none;">
                    <input name="files" id="files" type="file" value="Hacer cosas" accept=".jpg,.png,.gif" />
                </div>
                <a href="" class="user-name" id="lnkCambiarImagen">Cambiar Imagen</a>
                <hr />
            </div>

        </div>

        <div class="col-sm-9">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Informaci&oacute;n de Profesional &nbsp;&nbsp;<a href="#" id="lnkEditar">(Editar)</a></h3>
                </div>
                <div class="panel-body">

                    <form role="form" class="form-horizontal validate" role="form" method="POST">

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="LastName">Apellido</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="LastName" name="LastName" disabled ng-model="LastName" data-validate="required">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="FirstName">Nombre</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="FirstName" name="FirstName" disabled ng-model="FirstName" data-validate="required">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="Address">Direcci&oacute;n</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Address" name="Address" disabled ng-model="Address" data-validate="required">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="Province">Provincia</label>

                            <div class="col-sm-10">
                                <select class="form-control" id="Province" name="Province" disabled ng-model="ProvinceId" data-validate="required">
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                    <option value="5">Option 5</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="City">Ciudad</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="City" name="City" disabled ng-model="City" data-validate="required">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="Phone">Tel&eacute;fono</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Phone" name="Phone" disabled ng-model="Phone" data-validate="required">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="CUIT">CUIT</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="CUIT" name="CUIT"
                                       disabled ng-model="CUIT" data-validate="required,minlength[11],maxlength[11]">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="DNI">DNI</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="DNI" name="DNI" disabled ng-model="DNI"
                                       data-validate="required,minlength[8],maxlength[8]" />
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="MN">Nro. Matr&iacute;cula</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="MN" name="MN" disabled ng-model="MN" data-validate="required">
                            </div>
                        </div>
                        <div class="form-group-separator"></div>

                        <div class="form-group" style="display: none;" id="buttons-pane">
                            <button type="submit" class="btn btn-success pull-right" id="btnSubmit" style="margin-right: 15px;">Guardar Cambios</button>
                            <button type="reset" class="btn btn-white pull-right" style="margin-right: 5px;" id="btnCancelar">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

    <!--CROPPER-->
    <div id="window" style="display: none;">
        <strong class="text-primary">Recortar Imagen</strong>
        <br /><br />
        <div class="img-container">
        </div>
        <br /><br />
        <a id="crop-img" href="#" class="btn btn-secondary">Aceptar</a>
    </div>

</section>

<script>
    var dataBackup;
    $(function () {
        $('.panel-body form').submit(function() {
            return false;
        });

        $('#lnkEditar').click(function() {
            dataBackup = {
                LastName : $('#LastName').val(),
                FirstName : $('#FirstName').val(),
                Address : $('#Address').val(),
                ProvinceId : $('#ProvinceId').val(),
                City : $('#City').val(),
                Phone : $('#Phone').val(),
                CUIT : $('#CUIT').val(),
                DNI : $('#DNI').val(),
                MN: $('#DNI').val()
            };

            $('.panel-body form input[type=text], .panel-body form select').removeAttr('disabled');
            $('#LastName').focus();

            $(this).hide();
            $('#buttons-pane').show();
            return false;
        });

        $('#btnCancelar').click(function () {

            $('#LastName').val(dataBackup.LastName);
            $('#FirstName').val(dataBackup.FirstName);
            $('#Address').val(dataBackup.Address);
            $('#ProvinceId').val(dataBackup.ProvinceId);
            $('#City').val(dataBackup.City);
            $('#Phone').val(dataBackup.Phone);
            $('#CUIT').val(dataBackup.CUIT);
            $('#DNI').val(dataBackup.DNI);
            $('#DNI').val(dataBackup.MN);

            $('.panel-body form input[type=text], .panel-body form select').attr('disabled', 'disabled');
            $('#lnkEditar').show();
            $('#buttons-pane').hide();
            return false;
        });

        $('#lnkCambiarImagen').click(function () {
            $("#files").click();
        });


        var imageLoad = function () {
            window.data("kendoWindow").open().center();
            var preview_size = [220, 220],
                aspect_ratio = preview_size[0] / preview_size[1],
                selection = {
                    x: null,
                    y: null,
                    w: null,
                    h: null
                },
                $image = $(".img-container img");

            // Plugin Initialization
            $image.cropper({
                aspectRatio: aspect_ratio,
                minCropBoxWidth: 220,
                done: function (data) {
                    selection.x = data.x;
                    selection.y = data.y;
                    selection.w = data.width;
                    selection.h = data.height;
                }
            });
        }

        $("#files").kendoUpload({
            async: {
                saveUrl: "/Professionals/Image/Save",
                //removeUrl: "remove",
                autoUpload: true
            },
            localization: {
                select: "Seleccionar desde PC",
                headerStatusUploaded: "Finalizado",
                headerStatusUploading: "Cargando.."
            },
            multiple: false,
            showFileList: false,
            success: function (e) {
                $('.img-container').empty();
                var img = $('<img class="img-responsive">');
                $(img).bind('load', imageLoad);
                $(img).attr('src', '/Temp/' + appHelper.getCurrentId() + e.files[0].extension)
                $('.img-container').append(img);
            }
        });



        var window = $("#window"),
            undo = $("#undo")
                .bind("click", function () {
                    window.data("kendoWindow").open().center();
                });

        var onClose = function () {

        }

        if (!window.data("kendoWindow")) {
            window.kendoWindow({
                width: "400px",
                title: "Cambiar imagen de perfil",
                actions: [
                    "Close"
                ],
                close: onClose
            });
        }

    });
</script>